{% extends 'form_base.html' %}


{% block title %}
    <title>配置</title>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="{% url 'config' %}" method="POST">
        {% csrf_token %}
        <h4>Config</h4>
        <div class="form-group">
            <label for="ansible_path" class="col-md-3 control-label">Ansible Path:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="ansible_path" value="{{ ansible_path }}">
            </div>

        </div>
        <div class="form-group">
            <label for="roles_path" class="control-label col-md-3">roles_path</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="roles_path" value="{{ roles_path }}">
            </div>

        </div>
        <div class="form-group">
            <label for="playbook_path" class="control-label col-md-3">playbook_path</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="playbook_path" value="{{ playbook_path }}">
            </div>

        </div>
        <div class="form-group">
            <label for="code_path" class="control-label col-md-3">code_path</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="code_path" value="{{ code_path }}">
            </div>

        </div>
        <div class="form-group">
            <label for="scripts_path" class="control-label col-md-3">scripts_path</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="scripts_path" value="{{ scripts_path }}">
            </div>

        </div>
        <hr>
        <h4>Mysql</h4>
        <div class="form-group">
            <label for="mysql_user" class="control-label col-md-3">mysql_user</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mysql_user" value="{{ mysql_user }}">
            </div>

        </div>
        <div class="form-group">
            <label for="mysql_passwd" class="control-label col-md-3">mysql_passwd</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="mysql_passwd" value="{{ mysql_passwd }}">
            </div>

        </div>
        <div class="form-group">
            <label for="mysql_host" class="control-label col-md-3">mysql_host</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mysql_host" value="{{ mysql_host }}">
            </div>

        </div>
        <div class="form-group">
            <label for="mysql_port" class="control-label col-md-3">mysql_port</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mysql_port" value="{{ mysql_port }}">
            </div>

        </div>
        <div class="form-group">
            <label for="mysql_db" class="control-label col-md-3">mysql_db</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mysql_db" value="{{ mysql_db }}">
            </div>

        </div>
        <hr>

        <h4>Redis</h4>
        <div class="form-group">
            <label for="redis_host" class="control-label col-md-3">redis_host</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="redis_host" value="{{ redis_host }}">
            </div>

        </div>
        <div class="form-group">
            <label for="redis_passwd" class="control-label col-md-3">redis_passwd</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="redis_passwd" value="{{ redis_passwd }}">
            </div>

        </div>
        <div class="form-group">
            <label for="redis_port" class="control-label col-md-3">redis_port</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="redis_port" value="{{ redis_port }}">
            </div>

        </div>
        <div class="form-group">
            <label for="redis_db" class="control-label col-md-3">redis_db</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="redis_db" value="{{ redis_db }}">
            </div>

        </div>
        <hr>

        <h4>Log</h4>
        <div class="form-group">
            <label for="log_path" class="control-label col-md-3">log_path</label>
            <div class="col-md-9">
                 <input type="text" class="form-control" name="log_path" value="{{ log_path }}">
            </div>

        </div>
        <div class="form-group">
            <label for="log_level" class="control-label col-md-3">log_level</label>
            <div class="col-md-9">
                <select class="form-control" name="log_level">
                    <option value="INFO" {% if log_level == "INFO" %}selected{% endif %}>INFO</option>
                    <option value="DEBUG" {% if log_level == "DEBUG" %}selected{% endif %}>DEBUG</option>
                    <option value="WARNING" {% if log_level == "WARNING" %}selected{% endif %}>WARNING</option>
                    <option value="ERROR" {% if log_level == "ERROR" %}selected{% endif %}>ERROR</option>
                </select>
{#                 <input type="text" class="form-control" value="{{ log_level }}">#}
            </div>

        </div>
        <div class="form-group pull-right" style="padding: 15px">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>

    </form>

{% endblock %}